mat-form-field {
  width: 100%;
}

.toolbar-row {
  display: flex;
  justify-content: space-between;
}

.encoder {
  width: 100vw;
  height: 100%;
  margin-top: 30px;

  &-card {
    width: 100%;
    margin: 0 auto;
    display: flex;

    @media screen and (min-width: 576px) {
      width: 450px;
    }
  }

  &-result {
    margin-top: 15px;
    width: 100%;
    text-align: center;
  }

  &-button {
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
  }
}
